<div class="editingDeck">
    <div class="titleSection">
        <input type="text" ng-class="editingDeck.identity.faction" class="deckEntry" ng-model="editingDeck.name"><div class="buttonHolder">
            <button class="green" ng-click="save();">save</button>
            <button class="red" ng-click="closeDeck();">cancel</button>
        </div>
    </div>
    <div class="deckBody">
        <div class="imageHolder">
            <img class="cardImage" src="{{idImage}}" alt="{{deckIdentity.title}}">
        </div><div class="tableHolder">
            <canvas id="bar" class="chart chart-bar"
                chart-data="deckStats" chart-labels="enemyFactions" chart-series="series" chart-colours="colors"
            </canvas>
        </div>
        <hr>
        <div class="matchHolder">
            <div class="inlineTitle">
                <h3>Matches</h3>
                <button class="green" ng-click="addMatch();" ng-show="!newMatch">+</button>
            </div>
            <div ng-show="newMatch" class="newMatchInfo">
                <div class="matchInfo deckEntry" ng-class="newMatch.opponentId.faction">
                    <div class="matchOppName" ng-class="newMatch.opponentId.faction">
                        <select ng-if="editingDeck.type === 'runner'" ng-options="id as id.name for id in corpIds | orderBy:['name'] track by id.name" ng-model="newMatch.opponentId"></select>
                        <select ng-if="editingDeck.type === 'corp'" ng-options="id as id.name for id in runnerIds | orderBy:['name'] track by id.name" ng-model="newMatch.opponentId"></select>
                    </div><div class="matchStatus" ng-class="newMatch.opponentId.faction">
                        <select ng-model="newMatch.won">
                            <option value="true">Won</option>
                            <option value="false">Lost</option>
                        </select>
                    </div><div class="matchDate" ng-class="newMatch.opponentId.faction">
                        {{newMatch.date | date}}
                    </div><div class="matchActions">
                        <button class="green" ng-click="confirmMatch();">save</button>
                        <button class="red" ng-click="cancelMatch();">cancel</button>
                    </div>
                </div>
            </div>
            <div ng-repeat="match in editingDeck.matches | orderBy:['-date'] track by $index" class="matchInfo deckEntry" ng-class="match.opponentId.faction">
                <div class="matchOppName" ng-class="match.opponentId.faction">
                    {{match.opponentId.name}}
                </div><div class="matchStatus" ng-class="match.opponentId.faction">
                    {{match.won ? 'Won' : 'Lost'}}
                </div><div class="matchDate" ng-class="match.opponentId.faction">
                    {{match.date | date}}
                </div><div class="matchActions" ng-class="match.opponentId.faction">
                    <button class="red" ng-click="deleteMatch($index);">x</button>
                </div>
            </div>
        </div>
    </div>
</div>