html {
    min-width: 320px;
    min-height: 480px;
    overflow: auto;
}

body {
    background-image: url('../img/symphony.png');
    background-repeat: repeat;
    background-position: top center;

    @media (max-width: 499px) {
        margin: 0;
    }
}

* {
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
}

hr {
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 20px 0;
}

#mainContainer {
    max-width: 992px;
    margin: 15px auto 100px;
    padding: 20px;
    background-color: white;
    -webkit-box-shadow: 0 0 15px 0px rgba(130,130,130,0.75);
    -moz-box-shadow: 0 0 15px 0px rgba(130,130,130,0.75);
    box-shadow: 0 0 15px 0px rgba(130,130,130,0.75);

    @media (max-width: 499px) {
        text-align: center;
        margin: 0;
    }
}

.topSection {
    @media (min-width: 500px) {
        #profNameContainer, #profImgContainer {
            display: inline-block;
            vertical-align: middle;
        }

        #profNameContainer {
            width: 66%;
        }

        #profImgContainer {
            width: 33%;
            text-align: right;
        }
    }

    img {
        margin: 0 auto;
        width: 100%;
        max-width: 200px;
        border-radius: 50%;
    }
}

br {
    display: block;
    margin: 5px;
    content: " ";
    line-height: 5px;
}

ul {
    padding: 0 40px;
}

.printOnly {
    display: none;
}
